{% extends 'orders/header.html' %} {% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2 row justify-content-center">
        <div class="card shadow rounded-0 " style="width: 800px;">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>About Us</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p style="width:700px">The KIOSK online is an online booking 
                        system which helps the students and faculties to book their refreshments according 
                        to the items provided by the KIOSK Manager. The details of the items are updated 
                        according to the stocks in KIOSK by the KIOSK Manager. The students or faculties 
                        can book refreshments before going to KIOSK and items will be ready by the time 
                        them get there. This will help to reduce the crowd and fast delivery of items and 
                        helps students to reach back to class at time</p>

                        <div>
                        <h4 style="text-align: center;"><u>Developers</u></h4>

                        <p>
                            <ul style="list-style: none;">
                                <li>Krishnanand A</li>
                                <li>K S Renjith </li>
                                <li>Jishnu K Satheesh</li>
                                <li>Jia Ann James</li>
                                <li>Jeffin Sam George</li>
                            </ul>
                        </p>
                    </div>

                </div>

               
            </div>
        </div>
    </div>
</div>

{% endblock %}