{% extends 'orders/header.html' %} {% block content %}



<div class="container">
    <div class="content my-4 px-4">
        <div class="card rounded-0 shadow">
            <div class="card-body">


                <h4 style="margin:10px; text-align:center;"> Choose one of the Drinks 🍵 </h4>
                <div class="row justify-content-center">

                    {% for dish in dishes %}
                    <div class="card" id="regular_pizza_card" style="width: 24rem; margin:10px;">
                        <div class="card-body">
                            <h5 class="card-title">{{dish}}</h5>
                        </div>
                        {% if dish.drink_name == "Coffee" or dish.drink_name == "Tea" %}
                            <button class="btn btn-primary" onclick="add_to_cart({item_description:'{{dish}}' , price:{{dish.can_price}} })">Hot : ₹ {{dish.can_price}}</button>    
                            <br>
                            <button class="btn btn-primary" onclick="add_to_cart({item_description:'{{dish}}' , price:{{dish.bottle_price}} })">Cold : ₹ {{dish.bottle_price}}</button>
                        {% else %}
                        <button class="btn btn-primary" onclick="add_to_cart({item_description:'{{dish}}' , price:{{dish.can_price}} })">Can : ₹ {{dish.can_price}}</button>
                        <br>
                        <button class="btn btn-primary" onclick="add_to_cart({item_description:'{{dish}}' , price:{{dish.bottle_price}} })">Bottle : ₹ {{dish.bottle_price}}</button>
                        {% endif %}
                       
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}