{% extends 'orders/header.html' %} {% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3>Our Shop Hours</h3>
                </div>
                <div class="row justify-content-center">
                    <p>Monday-Saturday 9AM - 4AM</p>
                </div>
                <div class="row justify-content-center">
                    
                    <p>Monday - Friday 24 Hours</p>

                </div>

              
              
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}